# Note that this configuration file is adapted from the examples from its
# official website as well as the version used by systemd

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 79
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
# 8 space indentation
[*.{c,h}]
indent_style = space
indent_size = 8

# 4 space indentation
[*.{cc,cpp,cxx,hh,hpp,hxx}]
indent_style = space
indent_size = 4

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# Tab indentation
[Makefile]
indent_style = tab
indent_size = 8

[*.{md,markdown}]
trim_trailing_whitespace = false
