.gitattributes text eol=lf
*.[ch] whitespace=tab-in-indent,trailing-space eol=lf
*.cc whitespace=tab-in-indent,trailing-space eol=lf
*.cpp whitespace=tab-in-indent,trailing-space eol=lf
*.cxx whitespace=tab-in-indent,trailing-space eol=lf
*.hh whitespace=tab-in-indent,trailing-space eol=lf
*.hpp whitespace=tab-in-indent,trailing-space eol=lf
*.hxx whitespace=tab-in-indent,trailing-space eol=lf
*.py whitespace=tab-in-indent,trailing-space eol=lf
*.cfg whitespace=tab-in-indent,trailing-space eol=lf
*.rst whitespace=tab-in-indent,trailing-space eol=lf
*.txt whitespace=tab-in-indent,trailing-space eol=lf
*.md whitespace=tab-in-indent,trailing-space eol=lf
